@model Final_Project.ViewModels.NutritionWithFoodItemList

@{
    ViewData["Title"] = "EditNutrition";
    SelectList ListOfFoodItems = new SelectList(Model.FoodItems, "Id", "Name");
}

<h1>EditNutrition</h1>

<h4>NutritionWithFoodItemList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditNutrition">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="id" class="control-label"></label> *@
            @*     <input asp-for="id" class="form-control" /> *@
            @*     <span asp-validation-for="id" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fat" class="control-label"></label>
                <input asp-for="Fat" class="form-control" />
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label"></label>
                <input asp-for="Carbohydrates" class="form-control" />
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiber" class="control-label"></label>
                <input asp-for="Fiber" class="form-control" />
                <span asp-validation-for="Fiber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sugar" class="control-label"></label>
                <input asp-for="Sugar" class="form-control" />
                <span asp-validation-for="Sugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label>
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="FoodItemID" class="control-label"></label> *@
            @*     <input asp-for="FoodItemID" class="form-control" /> *@
            @*     <span asp-validation-for="FoodItemID" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="FoodItemID" class="font-weight-bold text-black">FoodItem</label>
                <select asp-for="FoodItemID" class="form-control" id="FoodItemIdError" asp-items="@ListOfFoodItems">
                    <option value="">Select FoodItem</option>
                </select>
                <span asp-validation-for="FoodItemID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
